ul {
    background-color: rgba(105, 105, 105, 0.342);
    padding: 25px;
    margin: 25px;
    border: 1px solid black;
}

h1 {
   font-family: cursive;
   font-weight: bold;
   border: 2px solid black;
   padding: 20px 10px;
   margin-bottom: 50px;
}

